<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="IIS_API_TEST" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python39\python.exe|D:\REST-API\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
